:root {
    --cmd: #fff021;
    --fdnd: #66e5bf;
    --mdd: #085dc4;
    --heigth: 0;
    --width: 0;
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: arial;
    font-weight: 400;
    margin: 0;
    color: #333;
    padding-bottom: 2rem;
    padding-top:6rem;
    background-color: #eee;
}